/* Jared Mednick
   UC Berkeley Coding Bootcamp
 */
/* This makes sizing things way easier, still trying to understand what it does */
* {
  box-sizing: border-box;
}

/* Settings for HTML tags */
body {  
  margin: 0;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
  line-height: 30px;
  text-align: left;
}

header  {
  font-family: 'Georgia', Times, Times New Roman, serif;
  float: left;
  background-color: #4aaaa5;
  color: #ffffff;
  border-bottom: none;
  height: 100%;
  width: 270px;
  margin-left: 100px;
  margin-bottom: 0;
  text-align: center;
  font-size: 1.5em;
  padding-top: 15px;
}

h2,
h3  {
  color: #4aaaa5;
  border-bottom:  1px solid #dddddd;
  font-family: 'Georgia', Times, Times New Roman, serif;
  margin-top: 1px;
  padding-bottom: 3px;
}

nav {
  width: 270px;
  float: right;
  text-align: center;
  margin-right: 125px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
  width: 33%;
  padding: 10px;
}

li.border {
  border-right: 1px solid #dddddd;
  padding: 10px;
  vertical-align: middle;
  display: inline-block;
}

li.border:after{
  height: 10px;
  width: 2px;
  top: 20px;
  bottom: 20px;
}

a {
  color: #777777;
  text-decoration: none;
}

section {
  background-color: #ffffff;
  float: left;
  color: #777777;
}

footer {
  bottom: 0;
  clear: both;
  margin: 0 auto;
  vertical-align: middle;
  padding: 18px;
  height: 70px;
  background-color: #666666;
  width: 100%;
  border-bottom: none;
  color: #bbbbbb;
  text-align: center;
  font-size: 10px;
  margin-bottom: -2px;
}

/* Unique IDs for some of the different sections */

.header-container {
  border-bottom: 2px solid #cccccc;
  background-color: #ffffff;
  height: 60px;
}

.main-container {
  clear: both;
  overflow: auto;
  margin: 0 auto;
  background-image: url("../images/mochaGrunge_@2X.png");
  width: 100%;
  border-bottom: 5px solid #4aaaa5;
}

.icon {
  width: 60px;
  height: auto;
  color: none;
  border-right: none;
}

/* Classes applied to some of the objects */

#social-links {
  float: right;
  padding: 5px;
  width: 270px;
  top: 30px;
  text-align: center;
  margin-right: 75px;
  margin-top: 30px
}

#main-bio {
  position: relative;
  text-align: left;
  width: 650px;
  top: 30px;
  margin-left: 100px;
  margin-bottom: 50px;
  height: auto;
  padding: 10px;
}

#my-image {
  clear: both;
  float: left;
  margin-right: 20px;
  width: 200px;
  height: 200px;
}